* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: proxima-nova, sans-serif;
}

.main {
  text-align: -webkit-center;
}
.text-webkit-center {
  text-align: -webkit-center;
}

a:hover {
  color: #02838d;
}

.main a {
  color: #02838d;
}

.image:hover .icon-pinterest {
  display: inline;
  color: black !important
}
footer a {
  display: block;
}
li::marker{
  color: #db1f88;
}

.menu:after {
  display: inline-block;
  content: '|';
  color: #aaaa;
  margin: 0 10px;
  cursor: default;
}

@media only screen and (min-width: 1024px) {
  footer .divide:after {
    display: inline-block;
    content: '|';
    margin: 0 1rem;
    cursor: default;
  }
}
